.form-control:focus {
    box-shadow: none !important;
    border-color: #ba68c8 !important;
}

.profile-button:hover {
    background: #11c143 !important;
}
.profile-button:disabled {
    background: #d6c1c3a8;
    color: unset;
    border-color: transparent;
}
.profile-button:disabled:hover {
    background: #d6c1c3a8 !important;
    color: unset;
    border-color: transparent;
}
.back:hover {
    color: #682773 !important;
    cursor: pointer !important;
}
.labels {
    /* margin-top: 10px; */
    font-size: 14px !important;
}
.add-experience:hover {
    background: #ba68c8 !important;
    color: #fff !important;
    cursor: pointer !important;
    border: solid 1px #ba68c8 !important;
}
.footer {
    margin-top: 0 !important;
}
.mb-5 {
    margin-bottom: 0 !important;
}
.info-account img {
    object-fit: cover;
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
}
#upload-img {
    margin-top: 10px;
    cursor: pointer;
    color: #597ecf;
}
#upload-img:hover {
    color: #ff2a2a;
}

.row {
    /* background: #cac4c517; */
}

#tag-changePass {
    font-family: "Comic Sans MS", "Poppins-Regular", "Arial", "Times";
}

#tag-changePass:focus {
    color: unset;
}

/* css for change password modal */
.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: "Open Sans", sans-serif;
}
.cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
}
#signupLogo {
    max-height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.formTitle {
    font-weight: 600;
    margin-top: 20px;
    color: #2f2d3b;
    text-align: center;
}
.inputLabel {
    text-align: left;
    font-size: 12px;
    color: #555;
    margin-bottom: 6px;
    margin-top: 24px;
}
.inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
input {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    border: solid 1px #ccc;
    padding: 0 11px;
}
.profile input:focus {
    border-color: #ba68c8 !important;
}
input:disabled {
    cursor: not-allowed;
    border: solid 1px #eee;
}
.buttonWrapper {
    margin-top: 40px;
}
.submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
.submitButton:hover {
    color: #fff;
    background-color: #0e7512;
}
.submitButton:disabled,
button[disabled] {
    border: 1px solid #cccccc;
    background-color: #cccccc;
    color: #666666;
}

#loader {
    position: absolute;
    z-index: 1;
    margin: -2px 0 0 10px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #666666;
    width: 14px;
    height: 14px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Css for create charity call */
.attention {
    font-style: oblique;
    margin: 5px 0;
    font-size: 13px;
    font-weight: 550;
}
.donation {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.donation h6 {
    padding: 10px;
}
.info-event h6 {
    font-weight: 550;
    color: #f5360d;
    text-align: justify;
}

.info-event {
    text-align: left;
}

.info-event tr td:first-child {
    vertical-align: top;
}

.info-event tr td:first-child h6 {
    color: unset;
    min-width: max-content;
}

.form-money-donation {
    padding: 10px;
}
.form-money-donation textarea {
    min-height: 100px;
    max-height: 150px;
}
.form-money-donation label {
    padding-bottom: 10px;
}

.profile {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) 0% 0% / cover no-repeat,
        url(../../../../../../public/img/main2.jpg) !important;
    padding-bottom: 40px;
}
